<?xml version="1.0" encoding="UTF-8"?>
<!--<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"> -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>ISMariS</display-name>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<error-page>  
		<error-code>401</error-code>
		<location>/error/401.xhtml</location>
	</error-page>
	<error-page>  
		<error-code>403</error-code>
		<location>/error/403.xhtml</location>
	</error-page>
	<error-page>      
		<error-code>404</error-code>
		<location>/error/404.xhtml</location>  
	</error-page>
	<error-page>      
		<error-code>500</error-code>
		<location>/error/500.xhtml</location>  
	</error-page>
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/error/401.xhtml</location>
	</error-page>

	<context-param>
		<description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>resources.application</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.enableControlSkinning</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.UPLOADER</param-name>
		<param-value>commons</param-value>
	</context-param>
	<!-- Paramètres de context -->
	<!--
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>${jsf.stage}</param-value>
	</context-param>
	-->
	<context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.SERIALIZE_SERVER_STATE</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
		<param-value>65535</param-value> 
	</context-param>
	<!--
	<context-param>
		<param-name>org.apache.el.parser.COERCE_TO_ZERO</param-name>
		<param-value>false</param-value>
	</context-param>
	-->


	<filter>
		<filter-name>UTF8Filter</filter-name>
		<filter-class>com.tn.smart.tech.utils.UTF8Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UTF8Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<context-param>
		<param-name>com.sun.faces.validateXml</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>BootsFaces_USE_VIEWPORT</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>net.bootsfaces.get_jquery_from_cdn</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>net.bootsfaces.get_jqueryui_from_cdn</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>net.bootsfaces.get_bootstrap_from_cdn</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>net.bootsfaces.get_fontawesome_from_cdn</param-name>
		<param-value>false</param-value>
	</context-param>

	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>
	<!--
	<listener>
		<listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
	</listener>
	-->

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>FacesServlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<!-- exception filter -->
	<filter>
		<filter-name>FacesExceptionFilter</filter-name>
		<filter-class>org.omnifaces.filter.FacesExceptionFilter</filter-class>
	</filter>

	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
		<!--
		<init-param>
			<param-name>thresholdSize</param-name>
			<param-value>100000</param-value>
		</init-param>
		
		<init-param>
			<param-name>uploadDirectory</param-name>
			<param-value>/srv/www/ismarisFiles</param-value>
		</init-param>
		-->	
	</filter>

	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>	
	<filter-mapping>
		<filter-name>FacesExceptionFilter</filter-name>
		<servlet-name>FacesServlet</servlet-name>
	</filter-mapping>
	<filter>
		<filter-name>gzipResponseFilter</filter-name>
		<filter-class>org.omnifaces.filter.GzipResponseFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>gzipResponseFilter</filter-name>
		<servlet-name>facesServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<!-- Configuration de primefaces -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bootstrap</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.TRANSFORM_METADATA</param-name>
		<param-value>true</param-value>
	</context-param>


<!--
	<servlet-mapping>
	<servlet-name>Faces Servlet</servlet-name>
	<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>Faces Servlet</servlet-name>
	<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>Faces Servlet</servlet-name>
	<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
-->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<mime-mapping>
		<extension>png</extension>
		<mime-type>image/png</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>

	<welcome-file-list>
		<welcome-file>/index.xhtml</welcome-file>
		<welcome-file>/index.html</welcome-file>
	</welcome-file-list>
<!--
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>
--> 
</web-app>
